# Distribution / packaging
Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
installed.cfg
*.egg
### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
env
db.sqlite3

### Other ###
git-cheat-sheet-education
LTD_BE
.env
lawyer_todo/Scripts